.movies {
  background-color: #202020;
  font-family: 'Inter', sans-serif;
  min-height: 80vh;
  /* justify-content: space-between; */
}

.movies__not-found {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}