.form-profile-container {
    background: #202020;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.form-profile-wrapper {
    background: #202020;
}

.form-in-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;
}

.form-in-profile__title {
    margin: 0 0 123px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.form-in-profile__section {
    height: 30px;
    display: flex;
    border-bottom: 1px solid #424242;
    width: 410px;
    align-items: flex-start;
    justify-content: space-between;
}

.form-in-profile__input-name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 0;
    white-space: nowrap;
}

.form-in-profile__input {
    padding: 0;
    height: 31px;
    width: 100%;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    height: 13px;
    color: #FFFFFF;
}

.form-in__input-error {
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-in-profile__submit-active {
    color: #FFFFFF;
}

.form-in-profile__section:last-of-type {
    margin-bottom: 220px;
    border: none;
    align-items: flex-end;
}

.form-in-profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-in-profile__submit {
    border: none;
    background: none;
    padding: 0;
    width: 410px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.05s linear;
    justify-content: center;
}

.form-in-profile__submit:disabled {
    border: none;
    background: none;
    padding: 0;
    width: 410px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #424242;
    cursor: pointer;
    justify-content: center;
}

.form-in-profile__submit:hover {
    opacity: 0.6;
}


.form-in-profile__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.05s linear;
}

.form-in-profile__link:hover {
    opacity: 0.6;
}

.form-in-profile__exit-button {
    padding: 0;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    margin-top: 16px;
}

@media (max-width: 970px) {
    .form-in-profile__title {
        margin-bottom: 96px;
    }

    .form-profile-container {
        padding-top: 236px;
    }
}

@media (max-width: 970px) {
    .form-in-profile__section:last-of-type  {
        margin-bottom: 210px;
    }
}

@media (max-width: 470px) {
    .form-profile-container {
        padding-top: 70px;
    }
}

@media (max-width: 470px) {
    .form-in-profile {
        max-width: 260px;
        align-items: center;
    }
}

@media (max-width: 470px) {
    .form-in-profile__section {
        max-width: 260px;
    }
}

@media (max-width: 470px) {
    .form-in-profile__submit {
        max-width: 260px;
        font-size: 12px;
        line-height: 15px;
    }

    .form-in-profile__submit-disabled { 
        max-width: 260px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 470px) {
    .form-in-profile__exit-button {
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 470px) {
    .form-in-profile__title {
        margin-bottom: 80px;
    }
}


@media (max-width: 470px) {
    .form-in-profile__section:last-of-type {
        margin-bottom: 379px;
    }
}